@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
  font-family: Geneva, Tahoma, Verdana, Helvetica, arial, sans-serif;
  background-color: #F1F1F1;
}

::-webkit-scrollbar{
  display: none;
}

table {
  width: 100%;
  color: black;
  border-collapse: collapse;
  border: 1px solid gray;
}

th, td {
  padding: 8px; 
  border: 1px solid gray; 
  text-align: center;
}

.gibeMeborder{
  border: 1px solid gray;
}